
{{!-- Related to Inventory Partial File===CHECK TO SEE IF POSSIBLE TO POINT AT TWO PARTIAL FILES--}}
<h1>Charity</h1>

<h2>Food Inventory</h2>

<h2>These Items Are Available For Request</h2>
<ul>
  {{#each itemAvailable}}
    {{#unless taken}}
      {{> partials/inventory taken=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Can't Find What You Need? Add a Request.</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newRequest">Name of Food Item</label>
    <input type="text" id="newRequest" name="request">
  </div>

{{!-- ==========Excluding from MVP --}}
  {{!-- <div class="form-group">
    <label for="newAmount">Amount of Food Item</label>
    <input type="text" id="newRequest" name="amount">
  </div> --}}

  <button type="submit">Add Request</button>
</form>


{{!-- Related to Supplier Partial File --}}
{{!-- Related to the Needs Table in Needs Partial File --}}
<h1>Supplier</h1>

<h2>Food Needs</h2>

<h2>Can You Meet the Following Needs?</h2>
<ul>
    {{#each newRequest}}
    {{#unless requestMet}}
    {{> partials/needs requestMet=false}}
    {{/unless}}
    {{/each}}
</ul>


<h2>What Can You Donate to Those With Needs?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newDonation">Food Item to be Donated</label>
    <input type="text" id="newDonation" name="donation">
  </div>

  <button type="submit">Add Donation</button>
</form>