{{!-- Link to Welcome js file in Public Dir --}}
<script src='./js/members.js'></script>
<script src='./js/welcome.js'></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
            <h2>Would you like to supply food items or make a request?</h2>

            {{!-- ====MOVED this RADIO BUTTON functionality to SIGNUP and changed to DROPDOWN--}}
            {{!-- <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">I would like to supply/donate food
                    items</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">I would like to request food items</label>
            </div> --}}
           
        </div>
        {{!-- stylize this button lol --}}
         <button type="button" class="btn btn-dark" id="breakBreadBtn">Break Bread!</button>
    </div>
</div>