{{!-- <script src='../public/js/'></script> --}}
{{!-- <link href="../public/stylesheets/style.css"> --}}
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form>
                <div class="form-group">
                    <label for="Identity">Who are you?</label>
                    <input type="text" class="form-control" id="Identity" aria-describedby="identity">
                </div>
                <div class="form-group">
                    <label for="contactInfo">Who can we contact from your group?</label>
                    <input type="text" class="form-control" id="contactInfo">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">What's your/her/his phone number?</label>
                    <input type="text" class="form-control" id="phoneNumber">
                </div>
                <div class="form-group">
                    <label for="address">What's your/her/his address?</label>
                    <input type="text" class="form-control" id="address">
                </div>
                <div class="form-group">
                    <label for="email">What's your/her/his email address?</label>
                    <input type="text" class="form-control" id="email">
                </div>
                {{!-- Supplier option --}}
                {{!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="restaurant">
                    <label class="form-check-label" for="restaurant">Restaurant</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="supermarket/grocery">
                    <label class="form-check-label" for="supermarket/grocery">Supermarket/Grocery Store</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="supermarket/grocery">
                    <label class="form-check-label" for="supermarket/grocery">Individual donor</label>
                </div> --}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>