html {
  font-size:16px;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container {
  max-width: 1500px;
  margin: -20px;
  padding:0px;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    background: #e7f1fb;
    color: #472b02;
    font-size: 12px;
  }

  h1 {
    font-family: 'Comfortaa', cursive;
    color: #472b02;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-family: 'Comfortaa', cursive;
    color: #472b02;
    font-size: 20px;
  }

 /* ==========login page ========================= */

.main {
  width: 102vw;
  height: 100vh;
 background-color: #f6eecbff;
}

.scroll-down-text {
  color: #90b7df;
  padding-bottom: 60px;
}
.scroll-down {
  background-color: #e7f1fb;
  padding-top: 30px;
}

.login-container {
  width: 102vw;
  height: 102vh;
  margin: 0;
 background-color: #e7f1fb;
}

.bg {
  background-image: url("/images/bread-bg.png");
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadImg {
  width: 110px;
  height: 110px;
  
}
#bb-nav {
margin-top: 20px;
}


h1, .foodav {
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  width: 65vw;
  height: 45vh;
  
}

.login-title {
  margin-top: 100px;
}

.table-bg {
  background-color: #f8f9fa;
}

.footer {
margin-top: 100px;
margin-bottom: 30px;

}

.navbar {
  margin-top: 10px;
  margin-bottom: 60px;
  width: 100vw;
}

.btn {
  width: fit-content;
  margin: 0 30px 0 30px;
}

.btn-submit {
  background-color: #f6eecbff;
}

.btn-submit:hover {
  background-color: #472b02;
  color: #f6eecbff;
}

.foodav-container {
  background-color: #f8f9fa;
  padding: 0;
  border-radius: 15px;
}

.navbar-nav {
  width: 100vw;
}

label {
  margin-right: 20px;
  margin-left: 20px;
  align-content: center;
}