body {
    background-image: url("../images/breakingBread1.png");
    
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: #000000;
    background-attachment: fixed;
    background-position: center bottom 1%;
    background-size: 75%;
}

.carousel-inner {
    position: static;
    width: 50%;
    margin-left: 24%;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: .8;
}

.firstButtonsRow {
    align-items: center;
    /* max-width: 10%; */
    margin-left: 20.5%; 

}

.buttons {
    opacity: .75;
}

.donationBkgdImg {
    background-image: url("../images/breakingBread2.png");
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: #000000;
    background-attachment: fixed;
    background-position: center bottom 1%;
    background-size: 75%;
}

.requestBkgdImg {
    background-image: url("../images/breakingBread3.png");
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: #000000;
    background-attachment: fixed;
    background-position: center bottom 1%;
    background-size: 75%;
}